<!DOCTYPE html>
<html
  style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  "
>
  <head>
    <meta charset="utf-8" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    "
  >
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      class="a"
      style="
        border-collapse: separate;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 100%;
        height: 0px;
      "
    >
      <tr style="vertical-align: top">
        <td style="padding: 0px; width: 50%"></td>
        <td align="center" style="position: relative; width: 794px; height: 1123.13px">
          <div
            class="div"
            style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              background-color: #ffffff;
              width: 794px;
              height: 1123.13px;
              position: relative;
              text-align: left;
            "
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="right-panel"
              style="
                border-collapse: separate;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                width: 550px;
                height: 1123px;
                position: absolute;
                top: 0;
                left: 244px;
              "
            >
              <tr>
                <td align="left" style="position: relative; width: 550px; height: 167px">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="name-position"
                    style="
                      border-collapse: separate;
                      padding: 46px 11px;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      width: 550px;
                      height: 167px;
                      position: relative;
                      background-color: #14111f;
                      text-align: left;
                    "
                  >
                    <tr style="height: 50%"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            margin-top: -2px;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #ffffff;
                            text-align: center;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                          "
                        >
                          markernamemarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 6px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 82px; height: 2px">
                        <div
                          class="rectangle"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            width: 82px;
                            height: 2px;
                            background-color: #ffffff;
                            text-align: left;
                          "
                        ></div>
                      </td>
                    </tr>
                    <tr style="height: 6px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-2"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #b7b7b7;
                            text-align: center;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                          "
                        >
                          markerpositionmarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 50%"></tr>
                  </table>
                </td>
              </tr>
              <tr style="height: 10px"></tr>
              <tr>
                <td align="left" style="position: relative; width: 550px">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="education-experience"
                    style="
                      border-collapse: separate;
                      padding: 10px;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      width: 550px;
                      position: relative;
                      background-color: #ffffff;
                      text-align: left;
                    "
                  >
                    <tr style="height: 50%"></tr>
                    <tr>
                      <td align="left" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-3"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            margin-top: -1px;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #000000;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          Education
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="left" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-4"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #000000;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          markereducationmarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="left" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-5"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #000000;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          Work Experience
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="left" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-4"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #000000;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          markerexperiencemarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 50%"></tr>
                  </table>
                </td>
              </tr>
              <tr style="height: 100%"></tr>
            </table>
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="left-panel"
              style="
                border-collapse: separate;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                width: 244px;
                height: 1123px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #ffffff;
              "
            >
              <tr>
                <td align="left" style="position: relative; width: 100%">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="frame"
                    style="
                      border-collapse: separate;
                      padding: 0;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      position: relative;
                      width: 100%;
                      background-color: #14111f;
                      text-align: left;
                    "
                  >
                    <tr style="height: 100%"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 229px; height: 201px">
                        <img
                          class="img"
                          src="markerphotomarker"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 100%;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            width: 229px;
                            height: 201px;
                            object-fit: cover;
                            text-align: left;
                          "
                        />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" style="position: relative; width: 100%; height: 879px">
                  <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    class="aboutme-contact"
                    style="
                      border-collapse: separate;
                      padding: 0px 17px;
                      border: 0;
                      font: inherit;
                      font-size: 100%;
                      -webkit-font-smoothing: antialiased;
                      box-sizing: border-box;
                      height: 879px;
                      position: relative;
                      width: 100%;
                      background-color: #13101e;
                      text-align: left;
                    "
                  >
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-6"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            margin-top: -1px;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #ffffff;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          About Me
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-7"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #b7b7b7;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          markeraboutMemarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-8"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #ffffff;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          Contact
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-7"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #b7b7b7;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          markeremailmarker<br
                            style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
                          />markerphonemarker<br
                            style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
                          />markerlocationmarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-8"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 36px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #ffffff;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          Expertise
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 10px"></tr>
                    <tr>
                      <td align="center" style="position: relative; width: 100%">
                        <div
                          class="text-wrapper-7"
                          style="
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font: inherit;
                            font-size: 16px;
                            -webkit-font-smoothing: antialiased;
                            box-sizing: border-box;
                            position: relative;
                            align-self: stretch;
                            font-family: 'Inter-Regular', Helvetica;
                            font-weight: 400;
                            color: #b7b7b7;
                            letter-spacing: 0;
                            line-height: normal;
                            width: 100%;
                            text-align: left;
                          "
                        >
                          markerskillsmarker
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 100%"></tr>
                  </table>
                </td>
              </tr>
              <tr style="height: 100%"></tr>
            </table>
          </div>
        </td>
        <td style="padding: 0px; width: 50%"></td>
      </tr>
    </table>
  </body>
</html>
